<div class="collection-slider-section width-container">
    <div class="swiper mySwiper ">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
          <div class="swiper-slide">
                <div class="collection-box">
                    <img src="{{block.settings.collection_img  | img_url:'master'}}" alt="">
                </div>
          </div>
        {% endfor %}
         
        </div>
        <div class="swiper-button-prev">
          <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="swiper-button-next">
          <i class="fa-solid fa-angle-right"></i>
        </div>
      </div>
     
</div>




{% schema %}
    {
      "name": "collection slider Section",
      "settings": [
        {
          "type": "richtext",
          "id": "headingtext",
          "label": "Heading text"
        }
      ],
      "blocks": [
          {
            "name": "Block",
            "type": "img",
            "settings": [
              {
              "type": "image_picker",
              "id": "collection_img",
              "label": "collection img"
            }
            ]
          }
        ],
      "presets": [
        {
          "name": "collection slider section"
        }
      ]
    }
    {% endschema %}

<script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 4,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
      320: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      577: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      800: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
      900: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
      1020: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
      1100: {
        slidesPerView: 4,
        spaceBetween: 20,
      },
    },
    });
  </script>