<div class="custom_testimonial">
  <div class="container">
    {%- render 'section_title', url: collection.url -%}
    <div class="Main-Coll testi_cls">
      {%- for block in section.blocks -%}
        <div class="custom_testi_mainbox">
          {% if block.settings.testi_img != blank %}
           <div class="custom_testi_box">
            <div class="testi_img_box">
              <img src="{{block.settings.testi_img | img_url:'master'}}" class="testi_img" alt="">
             </div>
             <div class="testi-content">
               <h6 class="testi_h">{{block.settings.testi_h}}</h6>
               <p class="testi_p">{{block.settings.testi_p}}</p>
               <h5 class="testi_cname">{{block.settings.testi_cname}}</h5>
             </div>
           </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "custom testimonial",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection Grid"
    },
    {
      "type": "textarea",
      "id": "sub_title",
      "label": "Sub Text"
    },
    {
      "type": "select",
      "id": "sub_font",
      "default": "2",
      "options": [
        {
          "value": "1",
          "label": "Body font"
        },
        {
          "value": "2",
          "label": "Sub title font"
        }
      ],
      "label": "Sub Text use font:"
    },
    {
      "type": "text",
      "id": "btn_title",
      "label": "See All Title",
      "info": "only working with design title 10",
      "default": "See all products"
    },
    {
      "type": "select",
      "id": "style_title",
      "options": [
        {
          "value": "title_1",
          "label": "Design 1"
        },
        {
          "value": "title_2",
          "label": "Design 2"
        },
        {
          "value": "title_3",
          "label": "Design 3"
        },
        {
          "value": "title_4",
          "label": "Design 4"
        },
        {
          "value": "title_5 lazyload",
          "label": "Design 5"
        },
        {
          "value": "title_6",
          "label": "Design 6"
        },
        {
          "value": "title_7 +la",
          "label": "Design 7 (with line-awesome)"
        },
        {
          "value": "title_8",
          "label": "Design 8"
        },
        {
          "value": "title_9",
          "label": "Design 9"
        },
        {
          "value": "title_10",
          "label": "Design 10"
        },
        {
          "value": "title_11",
          "label": "Design 11"
        },
        {
          "value": "title_12",
          "label": "Design 12"
        },
        {
          "value": "title_13",
          "label": "Design 13"
        },
        {
          "value": "title_14",
          "label": "Design 14"
        }
      ],
      "label": "Design Title:"
    }
  ],
  "blocks": [
    {
      "name": "testimonial slide",
      "type": "text",
      "settings": [
         {
           "type": "image_picker",
           "id": "testi_img",
           "label": "Add product img"
         },
         {
           "type": "text",
           "id": "testi_h",
           "label": "Add product name"
         },
         {
           "type": "text",
           "id": "testi_p",
           "label": "Add content "
         },
         {
           "type": "text",
           "id": "testi_cname",
           "label": "Add client name"
         }
      ]
    }
  ],
  "presets": [
    {
      "name": "custom testimonial",
      "settings": {}
    }
  ]
}
{% endschema %}

<style>
  .custom_testimonial .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 20px;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  .custom_testimonial .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
  }

  .custom_testimonial .slick-list:focus {
    outline: none;
  }

  .custom_testimonial .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }

  .custom_testimonial .slick-slider .slick-track,
  .custom_testimonial .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .custom_testimonial .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
  }

  .custom_testimonial .slick-track:before,
  .custom_testimonial .slick-track:after {
    content: '';
    display: table;
  }

  .custom_testimonial .slick-track:after {
    clear: both;
  }

  .custom_testimonial .slick-loading .slick-track {
    visibility: hidden;
  }

  .custom_testimonial .slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: flex;
  }

  [dir='rtl'] .custom_testimonial .slick-slide {
    float: right;
  }

  .custom_testimonial .slick-slide img {
    display: block;
    width: 100%;
  }

  .custom_testimonial .slick-slide.slick-loading img {
    display: none;
  }

  .custom_testimonial .slick-slide.dragging img {
    pointer-events: none;
  }

  .custom_testimonial .slick-initialized .slick-slide {
    display: block;
  }

  .custom_testimonial .slick-loading .slick-slide {
    visibility: hidden;
  }

  .custom_testimonial .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }

  .custom_testimonial .slick-arrow.slick-hidden {
    display: none;
  }

  /*================ Slick Slider Theme ================*/
  .custom_testimonial .slick-loading .slick-list {
    background: #fff var(--slick-img-url) center center no-repeat;
  }

  .news__arrows {
    width: 50px;
    margin: 0 auto;
    /* position: absolute; */
    /* left:46.5%; */
    right: 47.5%;
    top: 90%;
  }
  .custom_testimonial .slick-next {
    width: 40px;
    height: 40px;
    background-color: #252C35;
    text-align: center;
    border-radius: 100% !important;
    right: -13px !important;
    z-index: 1;
  }
  .custom_testimonial .slick-prev {
    width: 40px;
    height: 40px;
    background-color: #252C35;
    text-align: center;
    border-radius: 100% !important;
    left: -13px !important;
    z-index: 1;
  }

  .custom_testimonial .slick-next:before,
  .slick-prev:before {
    color: #FEFEFE  !important;
  }

  [dir='rtl'] .custom_testimonial .slick-next {
    left: -56px;
    right: auto;
  }

  .custom_testimonial .slick-next:before {
    content: '\276F';
    font-weight: 600;
    line-height: 0.5;
  }

  [dir='rtl'] .custom_testimonial .slick-next:before {
    content: '\276E';
  }
  .custom_testimonial .slick-prev:before {
    content: '\276E';
    font-weight: 600;
    line-height: 0.5;
  }

  [dir='rtl'] .custom_testimonial .slick-prev:before {
    content: '\276F';
  }
</style>

<script>
  $('.testi_cls').slick({
        infinite: true,
        loop:true,
        arrows: true,
        slidesToShow: 3,
        slidesToScroll: 1,  
        // appendArrows: $('.news__arrows'),
        prevArrow: "<button type='button' class='slick-prev pull-left arrowidth'>&#8592;</button>",
        nextArrow: "<button type='button' class='slick-next pull-right arrowidth'>&#8592;</button>",
        responsive: [
            {
                breakpoint: 1025,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                },
            },
            {
                breakpoint: 800,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                },
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                },
            },
        ],
    });
  </script>