
/* .width-container{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
} */

#shopify-section-featured_collection_owl_pPqi3g svg {
	color: #78A183 !important;
}

/* #shopify-section-featured_collection_owl_pPqi3g svg{
   color: #78A183 !important;
} */

/*banner section */
.ice_banner {
	position: relative;
	background: linear-gradient(180deg, #35384B 0%, #354856 100%);

}

.ice_banner img {
	/*position: absolute;*/
	max-width: 50% !important;
	object-position: right;
}


.banner_box {
	border: 1px solid black;
}


#b_1585640453760 {
	border-radius: 100px !important;
}

.cp {
	font-family: "Montserrat", sans-serif  !important;
	font-weight: 800 !important;
	font-size: 50px !important;
	line-height: 75.14px !important;
	color: #85D29A !important;
}

.cp2 {
	font-family: "Montserrat", sans-serif  !important;
	font-weight: 800 !important;
	font-size: 50px !important;
	line-height: 75.14px !important;
	color: #ffffff !important;
}

/* colection box section  */
.collection_box {
	border: 1px solid #000000;
	/* border-radius: 30px; */
	padding: 10px;
	padding-bottom: 20px;
}
.template-index .collection_box {
	border: 1px solid #eaeff2 !important;
	/* border-radius: 30px; */
	padding: 10px;
	padding-bottom: 20px;
}

.collection_box .add-to-cart {
	padding: 5px 30px;
	border-radius: 100px;
	font-family: "Montserrat", sans-serif;
	background-color: #354856;
	color: #ffffff;
	margin-top: 10px;
}

.lazyloaded .section-title {
	font-family: "Montserrat", sans-serif  !important;
	font-size: 50px;
	font-weight: 800;
	line-height: 75.14px;
	/* text-align: left; */
	color: #35384B;
}

.collection_header_btn {
	font-family: "Montserrat", sans-serif;
	/* font-size: 20px; */
	font-weight: 600;
	line-height: 26.07px;
	text-align: center;
	padding: 5px 30px;
	background: #354856;
	border-radius: 100px;
	margin-right: 11px;
	margin-left: 10px;
}

.title_header_svg svg {
	margin-bottom: 15px;
}

.title_10 a {
	padding: 5px 20px !important;
}

.nt_pr h3.product-title {
	height: 55px !important;
	overflow: hidden;
}

.nt_pr h3.product-title>a {
	font-family: "Montserrat", sans-serif  !important;
	font-weight: 800;
	line-height: 18px;
	text-align: center;
	color: #000000 !important;
	overflow: hidden;

}

.product-title {
	font-family: Montserrat Alternates !important;
	font-weight: 800;
	line-height: normal;
	text-align: center;
	color: #000000 !important;
	overflow: hidden;
	height: 55px !important;
}

/* .hover_border{
	border-radius: 25px;
} */
.price ins {
	color: #6B6B78 !important;
	font-family: "Montserrat", sans-serif;
	/* font-size: 20px; */
	font-weight: 600;
	line-height: 24px;
	text-align: center;
}


/* collection slider section  */

.collection-slider-section {
	padding: 60px 0;
}

.collection-slider-section .collection-box {
	text-align: center;
	margin: 0 auto;
}

.collection-slider-section .collection-box img {
	width: 100%;
}

.collection-slider-section .swiper {
	width: 100%;
	height: 100%;
}

.collection-slider-section .swiper-slide {
	display: flex;

	justify-content: center;
	align-items: center;
	object-fit: cover;
	transition: transform 0.5s ease;
}

.collection-slider-section .swiper-button-next {
	color: #282828 !important;
	border: 3px solid #282828;
	justify-content: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	font-size: 16px;
	/* transform: translateY(-50%); */
	position: absolute;
	z-index: 10;
}

.collection-slider-section .swiper-button-prev {
	color: #282828;
	position: absolute;
	border: 3px solid #282828;
	justify-content: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	font-size: 16px;
	/* transform: translateY(-50%); */
	z-index: 10;
}

.swiper-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.swiper-wrapper {
	display: flex;
}

/* hiphop collection section only img */
.hip_hop_main_box {
	padding: 60px 0;
}

/* .hip_hop_main_box .collection_header_btn {
	display: none;
} */

.hip_hop_main_box .hip-hop-box {
	margin-top: 30px;
}

.hip_hop_main_box .hip-hop-img {
	position: relative;
	z-index: 1;
}

.hip_hop_main_box .hip-hop-img .h_img {
	/* filter: grayscale(1); */
	width: 100%;
	height: 100%;
}

.hip_hop_main_box .hip-hop-img .hip_hop_name .hip_p {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 26.01px;
	text-align: center;
	width: 100%;
}

.hip_hop_main_box .hip-hop-img .hip_hop_name {
	position: absolute;
	z-index: 2;
	width: 100%;
	text-align: center;
	bottom: 2%;
	cursor: pointer;
}

.hip_hop_main_box .hip-hop-img::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	/* background: linear-gradient(180deg, rgba(32, 48, 60, 0) 0%, #202F3A 80%); */
}

/* .hip_hop_main_box .hip-hop-img::before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
} */

/* banner collection  */
#b_btn_XnBzat {
	border-radius: 100px !important;
}

/* img width text section  */
.banner_collection_wrap {
	margin-bottom: -163px;
	position: relative;
	z-index: 9;
}

.banner_collection_wrap .collection_box {
	background-color: #EBEFF1 !important;
}

.template-index .slt4_p {
	font-family: "Montserrat", sans-serif !important;
}

.f_body {
	font-family: "Montserrat", sans-serif !important;
	margin-top: 20px !important;
}

.imtt4_btn {
	border-radius: 100px !important;
	margin-top: 20px !important;
	font-family: "Montserrat", sans-serif !important;
}

.nt_se_image_text_overlay_x64TQD svg {
	margin-bottom: 35px;
}

.nt_se_banner_collection_F8CiwD .slt4_h3 {
	font-family: 'Raleway' !important;
	margin-bottom: 20px;
}

.nt_se_banner_collection_F8CiwD .slt4_btn {
	font-family: "Montserrat", sans-serif !important;
	border-radius: 100px !important;
}

.pa_txts.h_pos39 {
	left: 5% !important;
}

/* accordion section  */


/** =======================
 * Contenedor Principal
 ===========================*/
.accordion-section {
	background-color: #EDEDED;
	padding: 60px 0;
}

.accordion {
	width: 100%;
	/* margin: 30px auto 20px; */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	list-style: none;
	font-family: "Montserrat", sans-serif;
}

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	font-size: 14px;
	font-weight: 700;
	color: #000;
	border: 1px solid #000000;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 20px;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li {
	margin-bottom: 10px;
}

.accordion li i.fa-caret-up {
	right: 12px;
	left: auto;
	font-size: 18px;
}

.accordion li.open .link {
	border-radius: 20px 20px 0 0;
	/* Remove bottom border-radius */
}

.accordion li.default .accordion_ul {
	display: block;
}

.accordion li.open i.fa-caret-up {
	transform: rotate(180deg);
}

.accordion .accordion_ul.default .accordion_ul {
	display: block;
}

/**
 * Submenu
 -----------------------------*/
.accordion_ul {
	display: none;
	list-style: none;
	border-radius: 0 0 20px 20px;
	border: 1px solid #000;
	border-top: 0;
}

.main_accordion {
	margin-top: 30px;
}

.accordion_ul a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 12px;
	padding-left: 42px;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.accordion-section .collection_header_btn {
	display: none;
}

.accordion_main_box .accordion_1,
.accordion_2 {
	margin: 0 10px;
}

.accordion_main_box {
	width: 50%;
	/* display: grid; */

	/* grid-template-columns: 1fr 1fr; */
}

/* email section  */
.email_section {
	background-color: #35384B;
	padding: 100px 0;
	margin-top: 220px;
}

.email_section .email_main_box {
	/* padding: 15px; */
	max-width: 1000px;
	margin: 0 auto;
	border-radius: 30px;
	background-color: #F3F3F3;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	position: relative;
	margin-top: -289px;
}

.email_section .email_main_box .email_content {
	padding: 30px;
	width: 50%;
}

.email_section .email_main_box .email_content .email_h1 {
	font-family: Raleway;
	font-size: 50px;
	font-weight: 800;
	line-height: 50.14px;
	text-align: left;
	background: linear-gradient(90deg, #50727B 0%, #266AA9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.email_section .email_main_box .email_content .email_p {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
	color: #000;
	margin-top: 5px;
}

/* .email_section .email_main_box .email_content .col_email {
	width: 77%;
} */

.email_section .email_main_box .email_content .col_email input {
	background-color: transparent;
}

.email_section .email_main_box .email_content .signup-newsletter-form {
	background: #F3F3F3;
	justify-content: space-between;
	width: 80%;
}

.email_section .email_main_box .email_content .submit-btn {
	background: #354856;
}

.email_section .email_main_box .email_img_box {
	position: relative;
	width: 50%;
}

.email_section .email_main_box .email_img_box .e-img {
	height: 100% !important;
	width: 100% !important;
	object-fit: cover;
	object-position: right;
}

.email_section .email_main_box .email_img_box svg {
	position: absolute;
	top: -25%;
	right: 25%;
}
.e-img-mobile{
	display: none;
}
/* Custom shipping section  */
.custom_shipping {
	padding: 60px 0;
	background: #35384B;
	padding-bottom: 455px;
}

.custom_shipping .custom_shipping_main_box {
	background: #35384B;
	border: 1px solid;
	display: flex;
	flex-wrap: wrap;
	/* padding: 10px; */
	border-radius: 30px;
	overflow: hidden;
}

.custom_shipping .custom_shipping_main_box .ship_box {
	width: 25%;
	padding: 20px;
}

.custom_shipping .custom_shipping_main_box .ship_box:hover {
	background: linear-gradient(180deg, #35384B 0%, #354856 100%);
}

.custom_shipping .custom_shipping_main_box .ship_box .ship_img {
	width: 50px;
}

.custom_shipping .custom_shipping_main_box .ship_box .ship_h2 {
	font-family: Raleway;
	font-size: 24px;
	font-weight: 800;
	line-height: 26.22px;
	text-align: left;
	color: #fff;
	min-height: 50px;
}

.custom_shipping .custom_shipping_main_box .ship_box .ship_p {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-align: left;
	color: #D9D9D9;
}

/* testimonial section  */
.custom_testimonial {
	padding: 60px 0;
}

.custom_testimonial .custom_testi_mainbox {
	padding: 5px 10px;
}

.custom_testimonial .collection_header_btn {
	display: none;
}

.custom_testimonial .custom_testi_box {
	display: flex;
	border: 2px solid #D9D9D9;
	border-radius: 24px;
	align-items: center;
}

.custom_testimonial .testi_img_box {
	width: 40%;
}

.custom_testimonial .testi-content {
	width: 60%;
	overflow: hidden;
	padding: 10px 5px;
}

.custom_testimonial .testi_img_box .testi_img {
	width: 100%;
}

.custom_testimonial .testi-content .testi_h {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: normal;
	color: #000;
	margin: 0;
}

.custom_testimonial .testi_p {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	line-height: 18px;
	color: #898989;
	margin: 5px 0 15px 0;
    min-height: 108px;
}

.custom_testimonial .testi_cname {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
	color: #000;
	margin: 0;
}

.h_transparent_true.template-index .ntheader:not(.live_stuck) .sp_header_mid {
	background: linear-gradient(180deg, #09090B 0%, rgba(36, 40, 51, 0) 100%) !important;
}

.template-index .menu-item .lh__1 {
	color: #fff !important;
}

.menu-item .lh__1 {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-align: left;
	color: #1E1E1E !important;
}

.live_stuck .menu-item .lh__1 {
	color: #1E1E1E !important;
}

/* .template-index .live_stuck .menu-item .lh__1 {
	color:  #1E1E1E !important;
} */

.iccl-heart {
	background-color: #354856;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px !important;
	border-radius: 100%;
	color: #fff;
}

.iccl-cart {
	background-color: #354856;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px !important;
	border-radius: 100%;
	color: #fff;
}

.nt_mb_menu {
	font-family: "Montserrat", sans-serif  !important;
	font-weight: 600 !important;
}

.my-account .login-button {
	background-color: #354856;
	font-family: "Montserrat", sans-serif  !important;
	border-radius: 100px;
	color: #fff;
	font-weight: 600;
	padding: 5px 20px;
}

.header-container {
	max-width: 1600px !important;
}

/* our shipping partner section  */
.our_shipping_partner_section {
	padding-bottom: 40px;
}

.our_shipping_partner_section .custom_container {
	max-width: 1000px;
	padding: 0 10px;
	margin: 0 auto;
}

.our_shipping_partner_section .shipping_partner_main {
	z-index: 1;
	margin-top: 20px;
	padding: 20px;
	position: relative;
	margin-bottom: -117px;
}

.our_shipping_partner_section .Shipping_img_box {
	min-height: 120px;
	border: 2px solid #E0E0E0;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .our_shipping_partner_section .Shipping_img_box .Shipping_img{
	width: 100%;
} */

/* footer section  */
.footer_bottom {
	border: 10px solid;
	border-image-slice: 1;
	border-width: 1px;
	border-image-source: radial-gradient(50% 82000% at 50% 50%, #ADADB0 0%, rgba(73, 73, 74, 0) 100%);
	padding: 20px 10px;
	text-align: center;
}

.footer_bottom .row {
	align-items: center;
	justify-content: center;
}

.custom_footer .text-center {
	text-align: center;
	margin-top: 15px;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 600;
}

.footer_bottom .f_email a {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: right;
	color: #B2B2B2 !important;
}

.footer_bottom .f_email {
	text-align: right;
	padding: 15px 10px;
}

.footer_bottom .f_locaion h6 {
	color: #B2B2B2;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	padding: 15px 10px;
}

.footer_f {
	font-family: "Montserrat", sans-serif;
}

.template-index .footer_f {
	font-family: "Montserrat", sans-serif;
	margin-top: 30px;
}

.footer_f .widget-title {
	font-size: 18px;
	font-weight: 700;
}

.footer-contact {
	color: #BEBEBE;
}

.widget_footer .menu-item a {
	color: #BEBEBE !important;
}

.menu_footer .menu {
	color: #BEBEBE;
}

.menu_footer .menu .menu-item {
	display: flex;
	align-items: center;
}

.menu_footer .menu .menu-item svg {
	margin-right: 5px;
}

.footer_bottom .f_social {
	color: #CDCDD2;
	padding: 15px 10px;
	text-align: left;
}

/* COLLECTION PAGE  */


.product-info__inner {
	text-align: center;
}

/* product page  */

.entry-summary .product_title {
	font-family: "Montserrat", sans-serif;
	font-size: 22px !important;
	font-weight: 600;
	line-height: 28.01px;
	color: #282828 !important;
}

.entry-summary .price-review ins .money {
	font-family: "Montserrat", sans-serif  !important;
	font-size: 20px !important;
	font-weight: 600 !important;
	line-height: 24.38px;
	color: #282828 !important;
	margin-right: 8px;
}

.entry-summary .price-review del .money {
	font-family: "Montserrat", sans-serif  !important;
	font-size: 20px !important;
	font-weight: 600 !important;
	line-height: 24.38px;
	color: #777777 !important;
}

.priceoff {
	color: #C02727;
	margin-left: 6px;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24.38px;
	text-align: left;
}

.img_width {
	background-color: #D9D9D9;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px !important;
	margin: 0 auto;
}

/* .img_width .image-wrap img{
	max-width: 40px;
} */
.nt_se_feature_columns img {
	margin-bottom: 0 !important;
}

.image-wrap img {
	width: 35px !important;
}

.columns-text .section-title {
	color: #354856 !important;
	font-family: "Montserrat", sans-serif  !important;
	font-size: 24px;
	font-weight: 700;
	line-height: 29.26px;
	text-align: left;
}

.columns-text svg,
.collection_header_btn {
	display: none;
}

.columns-text .column_h3 {
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 27.2px;
	text-align: center;

}

.columns-text .column_p {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 27.2px;
	text-align: center;

}

.text_colums_line {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 27.2px;
	text-align: center;
	color: #354856;
	margin-top: 20px;
}

.nt_se_feature_columns {
	max-width: 1600px !important;
	padding: 0 10px;
}

.sp-tabs .sp-tab-content {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 500px;
	line-height: 29.26px;
	text-align: left;
	color: #354856;
}

.sp-tabs .entry-content {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 500px;
	line-height: 29.26px;
	text-align: left;
	color: #354856;
}

/* .sp-tabs .tab-heading .nav_link_icon {
	background-color: #354856 !important;
} */

.ul_tabs {
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	color: #777777;
}

.ul_tabs .active {
	color: #fff !important;
	background-color: #354856;
	border-radius: 100px;
}

.ul_tabs .active a {
	color: #fff !important;
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	font-weight: 600;
	/* line-height: 29.26px; */
	text-align: center;
	border: 0 !important;
}

.new_ul_tab {
	margin: auto;
	display: flex;
	justify-content: center;
}

.new_ul_tab .new-ul-box {
	background: #F5F5F5;
	display: inline-block;
	border-radius: 100px;
}

.swatch__title {
	font-family: "Montserrat", sans-serif  !important;
	font-size: 16px !important;
	font-weight: 601 !important;
	line-height: 21.94px;
	color: #282828;
	text-transform: capitalize !important;
	letter-spacing: normal;
}


.cat_shop_wrap {
	background-color: #EBEFF1 !important;
	padding: 20px;
}

.widget h5.widget-title {
	letter-spacing: normal;
	font-family: IBM Plex Sans;
	font-size: 20px !important;
	font-weight: 600;
	line-height: 20px;
}

ul.nt_filter_styleck>li>a:before {
	background-color: transparent;
	border: 2px solid #777777 !important;
}

ul.nt_filter_styleck>li>a {
	justify-content: space-between;
}

ul.nt_filter_styleck>li>a:before {
	order: 2;
}

.count_vr_filter {
	display: none;
}

.price_slider_btn {
	display: inline-block;
	background: #35384B;
	border-radius: 100px;
	border: 0;
	color: #fff;
}

.blockid_price .price_steps_slider .noUi-connects {
	background-color: #777777 !important;
}

.blockid_price .price_steps_slider .noUi-handle:before {
	background-color: #35384B !important;
	display: none;
}

.blockid_price .price_steps_slider .noUi-handle:after {
	background-color: #35384B !important;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	top: 0;
}

.blockid_price .noUi-connect {
	background: #35384B !important;
}


ul.nt_filter_styleck>li.active>a:before {
	background-color: #777777 !important;
}

.page-head h1 {
	font-family: "Montserrat", sans-serif  !important;
	font-size: 50px !important;
	font-weight: 800 !important;
	line-height: 57.14px !important;
	text-align: center;
}

.template-product select {
	background-color: #EBEFF1;
	color: #424556;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 19.5px;
	text-align: left;
	border: 1px solid #EDE9EB;
}

.variations.style__rectangle .swatch:not(.is-color) li.is-selected,
.variations.style__rectangle .swatch:not(.is-color) li.is-selected-nt,
.variations.style__rectangle .swatch:not(.is-color) li:hover {
	border-color: #50727B !important;
	background-color: #50727B !important;
	color: #fff;
}

.template-product .customize-properties textarea {
	min-height: 90px !important;
	border: 1px solid #50727B !important;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 19.5px;
	text-align: left;
	color: #777777 !important;
	background-color: #EBEFF1 !important;
}

.template-product .facl-minus:before,
.facl-plus:before {
	color: #282828 !important;
}

.variations_form .quantity {
	margin-bottom: 10px;
	background-color: #EBEFF1 !important;
	border: 1px solid #50727B !important;
}

.quantity input.input-text[type=number] {
	color: #354856 !important;
}

.quantity_head {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 21.94px;
	text-align: left;
	margin-right: 10px;
	color: #282828;
}

.quantity_head_box {
	align-items: baseline;
	display: flex;
}

.wish_quantity {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wish-custom {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 100%;
	background-color: #EBEFF1;
}

.product-infors {
	height: 100% !important;
}

/* custom description  */

.custom_description {
	padding: 40px 0;
}

.custom_description_h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 43.88px;
	text-align: left;
	letter-spacing: normal;
	color: #282828;
}

.information_h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 29.26px;
	text-align: left;
	color: #282828;
	letter-spacing: normal;
	margin-top: 25px;
}

.information_box {
	display: flex;
	/* width: 50%; */
	/* flex-wrap: wrap; */
	padding-right: 20px;
}

.info_box {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.info_box2 .information_box {
	width: 50%;
}

.information_h4 {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 19.5px;
	text-align: left;
	color: #777777;
	letter-spacing: normal;
	min-width: 100px;
}

.information_h5 {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 19.5px;
	text-align: left;
	color: #282828;
	letter-spacing: normal;
}

.info_box2 .information_h4 {
	min-width: 200px;
}



.template-product .single_add_to_cart_button {
	background-color: transparent !important;
	color: #354856 !important;
	border: 1px solid #354856 !important;
	width: 100% !important;
	transition: all 0.5s;
}

.template-product .single_add_to_cart_button .txt_add {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 36px;
}

.template-product .single_add_to_cart_button:hover {
	background-color: #354856 !important;
	color: #ffffff !important;
}

.variations_button {
	margin-top: 20px;
}

.nt_menu .type_mega .sub-menu .sub-column .menu-item a {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #282828;
}

.nt_menu .type_mega .sub-menu .sub-column-item a {
	font-family: Raleway;
	font-size: 16px;
	font-weight: 700;
	color: #354856;
}

.cat_grid_item__wrapper .h3 {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #282828;
}

.cart_header {
	font-family: "Montserrat", sans-serif  !important;
	font-size: 18px !important;
	color: #354856 !important;
	font-weight: 700 !important;
}

.mini_cart_title {
	font-family: "Montserrat", sans-serif  !important;
	font-size: 14px !important;
	font-weight: 700 !important;
	color: #282828 !important;
}

.mini_cart_meta {
	color: #555 !important;
	font-family: "Montserrat", sans-serif;
}

.btn_checkout,
.cart_actions {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

.template-cart .shipping_calculator {
	font-family: "Montserrat", sans-serif;
}

.template-cart .address_country_ship,
.address_province_label,
.address_zip_ship {
	font-size: 16px;
	color: #354856;
	font-family: "Montserrat", sans-serif  !important;
	font-weight: 600;
}

.cart_meta_prices,
.cart-item-price {
	font-family: "Montserrat", sans-serif !important;
}

.post-info h4 {
	font-family: "Montserrat", sans-serif !important;
	font-weight: 700;
	color: #282828;
}

.mini_cart_footer {
	font-family: "Montserrat", sans-serif !important;
}

.btn-cart .truncate {
	font-weight: 700;
	color: #282828;
	font-size: 16px;
}

.mini_cart_header .widget-title {
	font-weight: 700;
	color: #354856;
	letter-spacing: normal;
}

.template-collection .hover_button {
	display: none;
}


.header_3 .cat_grid_item__overlay {
	padding-top: 70% !important;
}

.header_3 .sub-menu {
	border-radius: 30px;
}

.info_box2 .information_box2 {
	width: 100%;
	display: flex;
}

/* .info_box:nth-child(2).number_m{
	min-width: 191.38px !important;
} */


.variations_button {
	width: 100% !important;
	/* flex-direction:row !important; */
}

.add_card {
	width: 50% !important;
	padding-left: 10px;
}

.variations_form .shopify-payment-button {
	margin-top: 0 !important;
	width: 50% !important;
}

.variations_form .shopify-payment-button__button--unbranded {
	cursor: pointer;
	padding: 17px 25px;
	background: #354856 !important;
	color: #222;
	border-radius: 40px;
	font-size: 14px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif !important;
}


.container_des {
	margin: 0 auto;
	background-color: #fff !important;
}

.template-product .complementary_product {
	display: block !important;
}

.matching_product .flickity-prev-next-button.previous {
	top: -13%;
	right: 10% !important;
	border: 0;
	background-color: #ebeff1;
}

.matching_product .flickity-prev-next-button.next {
	top: -13%;
	right: 6% !important;
	border: 0;
	background-color: #ebeff1;
}


/* YOUTUBE SECTION CSS  */
.youtube-section {
	padding: 50px 0;
}
.youtube-video{
	margin-top: 30px;
}

/* COLLECTION IMG WITH PRODUCT SLIDER  */

.Slider-with-img .collection-with-slider-main {
	padding-top: 50px;
	background-color: #fff;
}

.Slider-with-img .collection-img-main-box {
	display: flex;
	flex-wrap: wrap;
}

.Slider-with-img .collection-img-box {
	width: 30%;
	padding-right: 15px;
}

.Slider-with-img .collection-slider-box {
	width: 70%;
	padding-left: 15px;
}

.Slider-with-img .swiper {
	width: 100%;
	height: 100%;
}

.Slider-with-img .swiper-slide {
	text-align: center;
	font-size: 14px;
	background: #fff;
}

.Slider-with-img .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.Slider-with-img .image-collection img {
	width: 100%;

}

.Slider-with-img .image-collection {
	padding: 10px;
	border: 1px solid #eaeff2;
}

.Slider-with-img .image-collection .product-img {
	position: relative;
	overflow: hidden;
	transition: all 0.5s;
}

.Slider-with-img .hover-image {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	/* Initially hide the second image */
	transition: opacity 0.3s ease;
	/* Add a smooth transition effect */
}

.Slider-with-img .image-collection:hover .hover-image {
	opacity: 1;
}

.Slider-with-img .pro-rate {
	margin: 10px 0;
}

.Slider-with-img .pro-rate .product-price {
	font-size: 14px;
}

.Slider-with-img .product-content-box {
	text-align: center;
	padding: 20px 0;
}

.Slider-with-img .product-price ins {
	color: #6B6B78 !important;
	text-decoration: none !important;
	margin-left: 6px;
}

.Slider-with-img .collection-main-img {
	position: relative;
}

.Slider-with-img .collection-main-img .col-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.Slider-with-img .colletion-img-content {
	/* position: absolute;
	top: 0;
	content: "";
	left: 0;
	background: linear-gradient(180deg, #fff0, #000);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 15px; */
}

.Slider-with-img .collection-sub {
	font-size: 14px;
	color: #ffffff;
	font-family: 'Montserrat Alternates' !important;
}

.Slider-with-img .collection-name {
	font-size: 22px;
	font-weight: 600;
	color: #fff;

}


/* BANNER COLLECTION  */
.banner-with-collection .collection-with-slider-main {
	padding-top: 50px;
	background-color: #fff;
}

.banner-with-collection .collection-img-main-box {
	display: flex;
	flex-wrap: wrap;
}

.banner-with-collection .collection-img-box {
	width: 40%;
	padding-right: 15px;
}

.banner-with-collection .collection-slider-box {
	width: 60%;
	padding-left: 15px;
}

.banner-with-collection .swiper {
	width: 100%;
	height: 100%;
}

.banner-with-collection .swiper-slide {
	text-align: center;
	font-size: 14px;
	background: #fff;
}

.banner-with-collection .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.banner-with-collection .image-collection img {
	width: 100%;

}

.banner-with-collection .image-collection {
	padding: 10px;
	border: 1px solid #eaeff2;
}

.banner-with-collection .image-collection .product-img {
	position: relative;
	overflow: hidden;
	transition: all 0.5s;
}

.banner-with-collection .hover-image {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	/* Initially hide the second image */
	transition: opacity 0.3s ease;
	/* Add a smooth transition effect */
}

.banner-with-collection .image-collection:hover .hover-image {
	opacity: 1;
}

.banner-with-collection .pro-rate {
	margin: 10px 0;
}

.banner-with-collection .pro-rate .product-price {
	font-size: 14px;
}

.banner-with-collection .product-content-box {
	text-align: center;
	padding: 20px 0;
}

.banner-with-collection .product-price ins {
	color: #6B6B78 !important;
	text-decoration: none !important;
	margin-left: 6px;
}

.banner-with-collection .collection-main-img {
	position: relative;
}

.banner-with-collection .collection-main-img .col-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.banner-with-collection .colletion-img-content {
	/* position: absolute;
	top: 0;
	content: "";
	left: 0;
	background: linear-gradient(180deg, #fff0, #000);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 15px; */
}

.banner-with-collection .collection-sub {
	font-size: 14px;
	color: #ffffff;
	font-family: 'Montserrat Alternates' !important;
}

.banner-with-collection .collection-name {
	font-size: 22px;
	font-weight: 600;
	color: #fff;

}





/* IMG WITH TEXT COLLECTION SECTION  */

.img-with-text-section {
	padding: 50px 0;
}

.img-with-text-section .img-with-main-box {
	display: flex;
	flex-wrap: wrap;
}

.img-with-text-section .img-with-imgbox {
	width: 50%;
	padding-right: 20px;
}

.img-with-text-section .img-with-imgbox .img-w-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-with-text-section .img-with-contantbox {
	width: 50%;
	padding-left: 20px;
}

.meta-content{
	color: #000 !important;
}
.mb_cat_true .mb_nav_title{
	flex: 0 0 100% !important;
  max-width: 100% !important;
}

/* media query  */
@media (max-width: 1500px) {
	.info_box {
		grid-template-columns: 1fr;
	}

	.info_box .information_h4 {
		width: 200px;
	}
}

@media (min-width: 1500px) {
	.info_box .information_box:nth-child(2) .number_m {
		width: 191.38px;
		/* Adjust the width as needed */
	}
}

@media (min-width: 1025px) {
	.pr_grid_item .col-lg-3 {
		padding: 0 7.5px !important;
	}

	.pr_grid_item .col-12 {
		padding: 0 7.5px !important;
	}

	/* .atc-slide:not(.btn_full_true) .single_add_to_cart_button,
	.atc-slide:not(.btn_full_true) .variations_button {
		width: 50% !important;
	} */
}

@media (max-width:1024px) {
	.matching_product .flickity-prev-next-button.next {
		right: 10% !important;
	}

	.email_section .email_main_box {
		margin-left: 20px;
		margin-right: 20px;
	}

	.footer_bottom .f_email {
		text-align: center;
		padding: 5px 0;
	}

	.footer_bottom .f_locaion h6 {
		text-align: center;
		padding: 5px 0;
	}

	.footer_bottom .f_social {
		text-align: center;
		padding: 5px 0;
	}

}

@media (max-width:991px) {
	.custom_shipping .custom_shipping_main_box .ship_box {
		width: 50%;
	}

	.Slider-with-img .collection-slider-box {
		width: 55%;
	}

	.Slider-with-img .collection-img-box {
		width: 45%;
	}
}

@media (min-width:968px) and (max-width:1024px) {
	.pa_txts.h_pos39 {
		left: 15% !important;
	}
}

@media (min-width:967px) {
	.f_body {
		width: 60%;
		margin-top: 10px;
	}
}

@media (max-width:921px) {
	.email_section .email_main_box .email_img_box {
		width: 100%;
		order: 1;
	}

	.email_section .email_main_box .email_content {
		width: 80%;
		order: 2;
		margin: 0 auto;
	}

	/* .email_section .email_main_box .email_img_box .e-img {
		width: 80% !important;
	} */
}

@media (max-width:849px) {
	.Slider-with-img .collection-slider-box {
		width: 100%;
		padding-left: 0;
		margin-top: 20px;
	}

	.Slider-with-img .collection-img-box {
		width: 100%;
		padding-right: 0;
	}
}

@media (max-width:768px) {
	.matching_product .flickity-prev-next-button.previous {
		right: 16% !important;
		/* top: -10%; */
	}

	.accordion_main_box {
		width: 100%;
	}

	.email_section .col-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 71%;
		max-width: 100%;
	}

	.email_section .row {
		flex-wrap: nowrap;
	}

	.email_section .email_main_box .email_content .signup-newsletter-form {
		width: 100% !important;
	}

	.email_section .email_main_box .email_content .submit-btn {
		width: 40%;
	}
     
	.img-with-text-section .img-with-imgbox {
		width: 100%;
		padding-right: 0;
	}
	.img-with-text-section .img-with-contantbox {
		width: 100%;
		margin-top: 30px;
		padding-left: 0;
	}
	.header__mid .icon_like{
		display: block !important;
	}
	.header__mid .al_center {
		justify-content: space-between !important;
	}
	
	/* .footer_bottom .f_email  {
		text-align: left;
	}
	
	.footer_bottom .f_locaion h6 {
		text-align: left;
	}
	
	.footer_bottom .f_social {
		text-align: left	;
	}
 */

}

@media (max-width:767px) {
	.cp {
		font-size: 30px !important;
		line-height: normal !important;
	}

	.cp2 {
		font-size: 30px !important;
		line-height: normal !important;
	}

	/* .pa_txts {
		top: 40% !important;
	} */

	.nt_se_banner_collection_F8CiwD .pa_txts.mb_v_pos50 {
		top: 50% !important;
	}

	.pa_txts.h_pos39 {
		left: 65% !important;
	}

	.lazyloaded .section-title {
		font-size: 36px;
		line-height: normal;
	}

	.type_image_text_overlay .pa_txts {
		margin-top: 15px;
	}

	.nt_se_image_text_overlay_x64TQD svg {
		margin-bottom: 11px;
	}

	.nt_se_image_text_overlay_x64TQD .nt_img_txt #b_2_cHFdG6 {
		line-height: 16px !important;
		font-size: 12px !important;
	}

	.accordion {
		margin: 0;
	}

	.accordion_main_box .accordion_1 {
		margin-top: 30px;
	}

	.pa_txts.mb_v_pos50 {
		top: 80% !important;
	}
	.header__mid .tc {
		text-align: right !important;
	}
}

@media (max-width:749px) {
	.nt_se_image_text_overlay_x64TQD svg {
		width: 20px;
	}
}

@media (max-width:669px) {
	.nt_se_image_text_overlay_x64TQD .nt_img_txt #b_2_cHFdG6 {
		font-size: 10px;
		margin: 0 !important;
	}

	.email_section .email_main_box .email_content .email_h1 {
		font-size: 36px;
	}

	.email_section .email_main_box .email_content .email_p {
		font-size: 14px;
	}
}

@media (min-width:600px) {
	.Collection-grid-section .slick-slide:nth-of-type(odd) .category_content_box {
		order: 2;
		/* Content first for odd */
	}

	.Collection-grid-section .slick-slide:nth-of-type(odd) .category_img_box {
		order: 1;
		/* Image second for odd */
	}

	.Collection-grid-section .slick-slide:nth-of-type(even) .category_content_box {
		order: 1;
		/* Content second for even */
	}

	.Collection-grid-section .slick-slide:nth-of-type(even) .category_img_box {
		order: 2;
		/* Image first for even */
	}

}

@media (max-width:576px) {
	.pa_txts.h_pos39 {
		left: 55% !important;
	}

	.email_section .email_main_box .email_content {
		width: 100%;
	}

	

	.custom_shipping .custom_shipping_main_box .ship_box .ship_h2 {
		min-height: auto;
	}

	.custom_shipping {
		padding-top: 0;
		padding-bottom: 455px;
	}

	.nt_se_featured_collection_owl_pPqi3g {
		padding-bottom: 0;
	}

	.custom_testimonial {
		padding: 30px 0;
	}

	.lazyloaded .section-title {
		margin-bottom: 10px;
	}
	.title_header_svg svg{
		display: none;
	}
	.lazyloaded .section-title {
		font-size: 30px;
	}
	.e-img-mobile{
		display: block;
	}
	.e-img{
		display: none;
	}
	.email_section .email_main_box .email_content .email_h1 {
		font-size: 30px;
		line-height: normal;
	}
	.email_section .email_main_box .email_content{
		padding: 15px;
	}
	.email_section .email_main_box .email_content .submit-btn{
		width: 58%;
	}
	.email_section .col-12 {
		flex: 0 0 63%;
	}
	.footer-contact a.db{
		text-align: center !important;
	}
	.footer-contact a.db img{
		max-width: 90px !important;
	}
	.hip_hop_main_box .hip-hop-img .hip_hop_name .hip_p {
		font-size: 12px;
	}
}

@media (max-width:519px) {
	.matching_product .flickity-prev-next-button.next {
		right: 8% !important;
	}

	.matching_product .flickity-prev-next-button.previous {
		right: 22% !important;
		/* top: -10%; */
	}

	.banner_collection_wrap {
		margin-bottom: -120px;
	}

	.variations_button {
		width: 100% !important;
		flex-direction: column !important;
	}

	.add_card {
		width: 100% !important;
		padding-left: 0;
	}

	.variations_form .shopify-payment-button {
		margin-bottom: 15px !important;
		width: 100% !important;
	}
}

@media (max-width:400px) {
	.cp {
		font-size: 26px !important;
		line-height: normal !important;
	}

	.cp2 {
		font-size: 26px !important;
		line-height: normal !important;
	}
	.hip_hop_main_box .hip-hop-img .hip_hop_name .hip_p{
		font-size: 10px;
	}
}

#shopify-section-featured_collection_owl_pPqi3g {
	margin-top: -424px;
}

#shopify-section-featured_collection_owl_pPqi3g .collection_box {
	background-color: #fff;
}

#shopify-section-featured_collection_owl_pPqi3g .collection_header_btn {
	background-color: #fff !important;
}

#shopify-section-featured_collection_owl_pPqi3g .title_10 a {
	color: #35384B !important;
}

#shopify-section-featured_collection_owl_pPqi3g .section-title {
	color: #fff !important;
}

/* #shopify-section-featured_collection_RgdUgV  {
    margin-top: -414px;
}
#shopify-section-featured_collection_RgdUgV  .collection_box{
    background-color: #fff;
}
#shopify-section-featured_collection_RgdUgV  .collection_header_btn {
    background-color: #fff !important;
}
#shopify-section-featured_collection_RgdUgV  .title_10 a {
	color: #35384B !important;
}
#shopify-section-featured_collection_RgdUgV  .section-title{
    color: #fff !important;
} */


.collection-banner {
	text-align: center;|
	position: relative;
	height: 100%;
  }
  .collection-banner img {
	object-fit: cover;
	width: 100%;
	height: 100%;
  }
  .banner-text {
	/* margin-top: 10px; */
	position: absolute;
	top: 0;
  }