/* .width-container{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
} */

/*banner section */
.ice_banner {
	position: relative;
	background: linear-gradient(180deg, #35384B 0%, #354856 100%);

}

.ice_banner img {
	/*position: absolute;*/
	max-width: 50% !important;
	object-position: right;
}


.banner_box {
	border: 1px solid black;
}


#b_1585640453760 {
	border-radius: 100px !important;
}

.cp {
	font-family: Raleway !important;
	font-weight: 800 !important;
	font-size: 50px !important;
	line-height: 75.14px !important;
	color: #85D29A !important;
}

.cp2 {
	font-family: Raleway !important;
	font-weight: 800 !important;
	font-size: 50px !important;
	line-height: 75.14px !important;
	color: #ffffff !important;
}

/* colection box section  */
.collection_box {
	border: 1px solid #000000;
	/* border-radius: 30px; */
	padding: 10px;
	padding-bottom: 20px;
}

.collection_box .add-to-cart {
	padding: 5px 30px;
	border-radius: 100px;
	font-family: Montserrat Alternates;
	background-color: #354856;
	color: #ffffff;
	margin-top: 10px;
}

.lazyloaded .section-title {
	font-family: Raleway !important;
	font-size: 50px;
	font-weight: 800;
	line-height: 75.14px;
	text-align: left;
	color: #35384B;
}

.collection_header_btn {
	font-family: Montserrat Alternates;
	/* font-size: 20px; */
	font-weight: 600;
	line-height: 26.07px;
	text-align: center;
	padding: 5px 30px;
	background: #354856;
	border-radius: 100px;
}

.title_header_svg svg {
	margin-bottom: 15px;
}

.nt_pr h3.product-title {
	font-family: Montserrat Alternates !important;
	font-weight: 700;
	line-height: 28px;
	text-align: center;
	color: #000000 !important;
	max-height: 84px !important;
	overflow: hidden;
}

/* .hover_border{
	border-radius: 25px;
} */
.price ins {
	color: #6B6B78 !important;
	font-family: Montserrat Alternates;
	/* font-size: 20px; */
	font-weight: 600;
	line-height: 24px;
	text-align: center;
}


/* collection slider section  */

.collection-slider-section {
	padding: 60px 0;
}

.collection-slider-section .collection-box {
	text-align: center;
	margin: 0 auto;
}

.collection-slider-section .collection-box img {
	width: 100%;
}

.collection-slider-section .swiper {
	width: 100%;
	height: 100%;
}

.collection-slider-section .swiper-slide {
	display: flex;

	justify-content: center;
	align-items: center;
	object-fit: cover;
	transition: transform 0.5s ease;
}

.collection-slider-section .swiper-button-next {
	color: #282828 !important;
	border: 3px solid #282828;
	justify-content: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	font-size: 16px;
	/* transform: translateY(-50%); */
	position: absolute;
	z-index: 10;
}

.collection-slider-section .swiper-button-prev {
	color: #282828;
	position: absolute;
	border: 3px solid #282828;
	justify-content: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	font-size: 16px;
	/* transform: translateY(-50%); */
	z-index: 10;
}

.swiper-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.swiper-wrapper {
	display: flex;
}

/* hiphop collection section only img */
.hip_hop_main_box {
	padding: 60px 0;
}
.hip_hop_main_box .collection_header_btn{
	display: none;
}
.hip_hop_main_box .hip-hop-box{
	margin-top: 30px;
}

.hip_hop_main_box .hip-hop-img {
	position: relative;
	z-index: 1;
}

.hip_hop_main_box .hip-hop-img .h_img {
	filter: grayscale(1);
	width: 100%;
	height: 100%;
}

.hip_hop_main_box .hip-hop-img .hip_hop_name .hip_p {
	color: #fff;
	font-family: Montserrat Alternates;
	font-size: 20px;
	font-weight: 700;
	line-height: 26.01px;
	text-align: center;
	width: 100%;
}

.hip_hop_main_box .hip-hop-img .hip_hop_name {
	position: absolute;
	z-index: 2;
	width: 100%;
	text-align: center;
	bottom: 2%;
	cursor: pointer;
}

.hip_hop_main_box .hip-hop-img::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	background: linear-gradient(180deg, rgba(32, 48, 60, 0) 0%, #202F3A 80%);
}

/* .hip_hop_main_box .hip-hop-img::before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
} */

/* banner collection  */
#b_btn_XnBzat {
	border-radius: 100px !important;
}

/* img width text section  */
.banner_collection_wrap {
	margin-bottom: -163px;
    position: relative;
    z-index: 9;
}
.banner_collection_wrap .collection_box{
	background-color: #EBEFF1	!important;
}
/* media query  */
@media (max-width:768px) {
	.cp {
		font-size: 36px !important;
		line-height: normal !important;
	}

	.cp2 {
		font-size: 50px !important;
		line-height: normal !important;
	}
}
@media (min-width:768px) {
	.pa_txts.h_pos39{
		left: 5% !important;
	}
}

@media (max-width:400px) {
	.cp {
		font-size: 30px !important;
		line-height: normal !important;
	}

	.cp2 {
		font-size: 30px !important;
		line-height: normal !important;
	}
}


